<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-primary alert-dismissible fade show" role="alert" *ngIf="alerta.mostrandose" (click)="alerta.mostrandose = false">
        {{ alerta.mensaje }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> <!-- .alert -->
    </div> <!-- .col -->
  </div> <!-- .row -->
  <div class="row">
    <div class="col">
      <ul class="list-group">
        <li (click)="selecionarPokemon(pokemon)" class="list-group-item pokemon-lista {{pokemonSelecionado && pokemonSelecionado.id == pokemon.id? 'active':'' }}" *ngFor="let pokemon of pokemons">
          <span class="id">
            {{ pokemon.id }}º
          </span>
          <span class="nombre">
            {{ pokemon.nombre }}
          </span>
          <span class="papelera">
            <button> DEL </button>
          </span>
        </li>
      </ul>
    </div> <!-- .col -->
    <div class="col">
      <form>
        <div class="form-group">
          <label for="nombre-pokemon">Nombre</label>
          <input class="form-control" type="text" name="nombre-pokemon" id="nombre-pokemon">
        </div>
        <button class="btn btn-primary btn-block"> Crear </button>
      </form>
    </div>
  </div><!-- .row -->
</div> <!-- .container -->

