<div class="container">
  <div class="row">
    <div class="col">
      <div class="alert alert-{{ alerta.tipo }} alert-dismissible fade show" role="alert" *ngIf="alerta.mostrandose" (click)="alerta.mostrandose = false">
        {{ alerta.mensaje }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> <!-- .alert -->
    </div> <!-- .col -->
  </div> <!-- .row -->
  <div class="row mt-4">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item pokemon-lista {{pokemonSelecionado && pokemonSelecionado.id == pokemon.id? 'active':'' }}" *ngFor="let pokemon of pokemons">
          <div class="d-flex w-100 h-100" (click)="selecionarPokemon(pokemon)" >
            <span class="id">
              {{ pokemon.id }}º
            </span>
            <span class="nombre">
              {{ pokemon.nombre }}
            </span>
          </div>
          <span class="papelera">
            <button (click)="borrarPokemon(pokemon)" class="btn btn-outline-danger border-0"> <i class="fas fa-trash-alt"></i> </button>
          </span>
        </li>
      </ul>
    </div> <!-- .col -->
    <div class="col">
      <button (click)="limpiarFormulario()" class="btn btn-light btn-block" > Limpiar formulario </button>
      <form [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)">
        {{ formulario.value | json }}
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" placeholder="Nombre del pokemon" formControlName="nombre">
        </div>

        <button type="submit" class="btn btn-primary btn-block" [disabled]="formulario.invalid"> {{ formulario.value.id === 0 ? 'Crear':'Modificar'}} </button>
      </form>
    </div>
  </div><!-- .row -->
</div> <!-- .container -->

