
<div class="card">
  <div class="card-body">
    <input type="button" class="btn btn-block btn-outline-info" (click)="mostrar = !mostrar" value="DETALLES" >
    <pre [hidden]="!mostrar" style="background-color: black; color: white;">
{{ formulario.value | json }}
{{ formulario.status | json }}
{{ formulario.errors | json }}

{{ pokemon | json }}
    </pre>
    <form id="formulario" [formGroup]="formulario" (ngSubmit)="enviar(formulario.value)">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Nombre del pokemon" formControlName="nombre">
      </div>
    </form>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let option of options">
          <input type="checkbox" name="" id="habilidad-{{option.value}}"
            (change)="checkCambiado(option)"
            [(ngModel)]="option.checked"
          >
          <label for="habilidad-{{option.value}}"> {{ option.name }} </label>
        </li>
      </ul>
      <button type="submit" class="btn btn-primary btn-block" form="formulario"> CREAR </button>

  </div>
</div>

