<h1>Pagina principal</h1>
<div>

  <span *ngFor="let habilidad of habilidades">
    {{ habilidad | json }}
  </span>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Nombre">
        <div class="input-group-append">
          <pre class="lupa">O
|</pre>
        </div> <!-- .input-group-append -->
      </div><!--.input-group -->
    </div> <!-- .col -->
    <div class="col">
      <ul class="list-group">
        <li  class="list-group-item" *ngFor="let habilidad of habilidades">
          <input type="checkbox" id="habilidad-{{ habilidad }}"><label for="habilidad-{{ habilidad }}"> {{ habilidad }}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
      <li class="list-group-item {{ pokemonSeleccionado &&   pokemonSeleccionado.id === pokemon.id? 'seleccionado' :'' }}" *ngFor="let pokemon of lista" (click)="seleccionarPokemon(pokemon)">
          {{ pokemon.id }}º {{ pokemon.nombre | titlecase }}
        </li>
      </ul>
    </div> <!-- .col 1 -->
    <div class="col">
      <div *ngIf="pokemonSeleccionado">
        <div class="card">
          <div class="card-body">
            <h4> {{ pokemonSeleccionado.id }}º {{ pokemonSeleccionado.nombre | titlecase}} </h4>

            <ul class="list-group" *ngIf="true">
              <li class="list-group-item" *ngFor="let habilidad of pokemonSeleccionado.habilidades">
                {{ habilidad.id }}º {{ habilidad.nombre | titlecase}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->
