<h1>Pagina principal</h1>

<div class="container">
  <div class="row">
    <div class="col">
      {{ isCollapsedBusqueda }}
      <button type="button" class="btn btn-primary btn-block"
        (click)="isCollapsedBusqueda = !isCollapsedBusqueda"
        aria-controls="collapseBusqueda"
      >
        MENÚ BUSQUEDA
      </button>
      <div id="collapseBusqueda" class="p-4 card" [ngbCollapse]="isCollapsedBusqueda">
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombreBusqueda">
            <div class="input-group-append">
              <pre class="lupa">O--</pre>
            </div> <!-- .input-group-append -->
          </div><!--.input-group -->
        </div> <!-- .card-body -->
    </div> <!-- .card -->
    </div> <!-- .col -->
    <div class="col" *ngIf="false">
      <ul class="list-group habilidades">
        <li  class="list-group-item" *ngFor="let habilidad of checkHabilidades">
          <input type="checkbox" id="habilidad-{{ habilidad.value }}" [(ngModel)]="habilidad.checked"><label for="habilidad-{{ habilidad.value }}"> {{ habilidad.name }}</label>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="list-group">
      <li class="list-group-item {{ pokemonSeleccionado &&   pokemonSeleccionado.id === pokemon.id? 'seleccionado' :'' }}" *ngFor="let pokemon of lista | pokefiltro : nombreBusqueda" (click)="seleccionarPokemon(pokemon)">
          {{ pokemon.id }}º {{ pokemon.nombre | titlecase }}
        </li>
      </ul>
    </div> <!-- .col 1 -->
    <div class="col">
      <div *ngIf="pokemonSeleccionado">
        <div class="card pokemon-detalle">
          <div class="card-body">
            <h4> {{ pokemonSeleccionado.id }}º {{ pokemonSeleccionado.nombre | titlecase}} </h4>

            <ul class="list-group" *ngIf="true">
              <li class="list-group-item" *ngFor="let habilidad of pokemonSeleccionado.habilidades">
                {{ habilidad.id }}º {{ habilidad.nombre | titlecase}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- .row -->
</div> <!-- .container -->
